<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="society">
            <h2><span>Society</span> {{ society.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ society.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ society.description }}</span>
                </dd>
            </dl>
            <dl class="row-md jh-entity-details">
                <dt><span>Members</span></dt>
                
            </dl>
            <div class="table-responsive" id="users" *ngIf="users && users.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th scope="col" ><span>ID</span></th>
                            <th scope="col" ><span>Name</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users ">
                            <td>{{user.id}}</td>
                            <td>{{user.login}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/society', society.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
