<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2><span>Event</span> {{ event.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ event.title }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ event.description }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ event.createdAt }}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{ event.startDate }}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{ event.endDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
