<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-catalog-service-heading">Create or edit a Catalog Service</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div *ngIf="catalogServiceValues.user" class="form-group" [hidden]="!editForm.get('user')!.value.name">
                    <label for="user">User</label>
                    <input type="text" class="form-control" id="user" name="user" formControlName="user" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sla">Sla</label>
                    <input type="number" class="form-control" name="sla" id="field_sla" formControlName="sla" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serviceOffered">Service Offered</label>
                    <select class="form-control" id="field_serviceOffered" name="serviceOffered"
                        formControlName="serviceOffered">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let serviceOfferedOption of serviceOffereds ; trackBy: trackServiceOfferedById"
                            [ngValue]="serviceOfferedOption.id === editForm.get('serviceOffered')!.value?.id ? editForm.get('serviceOffered')!.value : serviceOfferedOption">
                            {{ serviceOfferedOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>