<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceEntity">
            <h2><span>Service Entity</span> {{ serviceEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ serviceEntity.name }}</span>
                </dd>
            </dl>
            <dl class="row-md jh-entity-details">
                <dt><span>Services Offered</span></dt>
            </dl>
            <div class="table-responsive" id="serviceOffereds" *ngIf="serviceEntity.serviceOffereds && serviceEntity.serviceOffereds.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th scope="col"><span>ID</span></th>
                            <th scope="col"><span>Name</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let serviceOffered of serviceEntity.serviceOffereds ">
                            <td>{{serviceOffered.id}}</td>
                            <td>{{serviceOffered.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-entity', serviceEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
