<div class="modal-header">
    <h4 class="modal-title">Add Service Entity</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>

<div class="modal-body">
    <div class="row justify-content-center">
       

        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="save()" [formGroup]="serviceEntityForm">
                <div class="form-group" [hidden]="!serviceEntityForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div *ngIf="serviceEntityValues?.user" class="form-group" [hidden]="!serviceEntityForm.get('user')!.value.name">
                    <label for="user">User</label>
                    <input type="text" class="form-control" id="user" name="user" formControlName="user" readonly />
                </div>
                
                <div class="form-group">
                    <label class="name-label" for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Service Entity Name"
                           formControlName="name" #name>
                </div>

                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                    </button>

                </div>
               
            </form>
        </div>
    </div>
</div>
